div.btn{
    margin: 100px;
    background-color: orange;
    color:white;
    font-size: 30px;
    padding: 10px;
    width: 200px;
    border-radius: 20px;

    box-shadow: gray 10px 10px 10px;
    transition: 0.5s;

}

div.btn:hover{
    transform: translate(-10px,-10px);
    box-shadow: gray 20px 20px 20px;
    transition: 0.5s;
}

div.btn:active{
    transform: translate(0px,0px);
    box-shadow: gray 5px 5px 5px;
    transition: 0.1s;
}