.container{
    margin: 30px;
    height: 400px;
    width:400px;
    background-color: lightblue;

}

.item{
    height: 50px;
    width: 50px;
    margin:20px;
    background-color: blue;
    border: solid black 1px;
    display: inline-block;

    animation: bounce 2s;
    animation-iteration-count: infinite;
    
}

.one{
    animation-timing-function: ease-in;
}

.two{
    animation-timing-function: ease-out;
}

.three{
    animation-timing-function: linear;
}

@keyframes bounce{
    0%{

    }
    50%{
        transform: translateY(300px)

    }
    100%{

    }
}